{% extends 'main/base.html' %}

{% block title %}
Новый расход
{% endblock %}

{% block content %}
    <h1>Создать новый расход</h1><br>
    <form method="post">
        {% csrf_token %}
        {{ form.date }}<br>
        {{ form.product }}<br>
        {{ form.join_purchase }}<br>
        {{ form.amount }}<br>
        {{ form.price }}<br>
        {{ form.note }}<br>
        <button class="btn btn-success" type="submit">Добавить</button><br>
        <span>{{ error }}</span>
    </form>
{% endblock %}